{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
    <body>

        <div class="main">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-3">
                        <div class="card-column">
                            <div>
                                <h4 class="browse">Browse News Sources</h4>
                            </div>
                            <div class="list-group list-group-flush scrolly">
                                <ul>
                                    {% for source in sources %}
                                        <a href="{{source.url}}" target="_blank">
                                            <p class="text-capitalize text-dark ">{{source.name}}</p>
                                        </a>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="col-9">
                        <div class="container-fluid">
                            <h1 class="headlinenews"> NEWS MAKING HEADLINES </h3>
                            <div class="card-columns">
                                {% for headlines in headlines %}
                                    <div class="card zoom">
                                        <img class="card" src="{{headlines.urlToImage}}" alt="Loading Image.....">
                                        <div class="card-body">
                                            <h4 class="card-title">{{headlines.author}}</h4>
                                            <p class="card-text">{{headlines.description}}</p>
                                            <a href="{{headlines.url}}" target="_blank">
                                                <p class="card-text">Find out more</p>
                                            </a>
                                        </div>
                                        <div class="card-footer">
                                            <medium class="text-muted">Published on:{{headlines.publishedAt}}</medium>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </body>
{% endblock %}